
  :root {
    --h-offset: 1px;
    --v-offset: 1px;
    --blur: 15px;
    --opacity: 0.3;
    --box-shadow: 0px 0px 0px rgba(0,0,0,0.0);
  }

  body {
    display: flex;
    flex-direction: column;
    background: #eeeaea;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0px;
    color: dimgrey;
  }

  main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #e5e5e5;
    width: 100vw;
    background: #fafafa;
  }

  .header-text {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding-left: 40px;
  }

  .header-text h2 {
    font-family: "Manrope", sans-serif;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .header-text h3 {
    font-weight: 300;
    margin: 0px;
    margin-bottom: 10px;
  }

  .controls {
    display: flex;
    justify-content: space-evenly;
    margin: 25px;
    flex-direction: column;
  }

  .controls-container {
    margin: 10px;
    min-width: 250px;
    max-width: 250px;
    border-radius: 10px;
    transition: all .2s;
    border: solid 2px lightgrey;
    box-sizing: border-box;

  }

  .controls-container:hover {
    box-shadow: 5px 6px 10px 0px rgba(0, 0, 0, 0.33);
  }

  .controls-box {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    padding-left: 20px;
    padding-right: 15px;
    margin: 0px;
    border-radius: 8px 8px 0px 0px;
    background: white;
    height: 25px;
    align-items: center;
  }

  .value-output p {
    margin: 0px;
    display: flex;
    justify-content: center;
    background: lightgrey;
    border-radius: 0px 0px 5px 5px;
    padding: 5px;
    height: 25px;
    align-items: center;
    border-top: solid 2px lightgrey;
  }

  .playground-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 25px;
  }

  .playground {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0px 0px;
    grid-template-areas:
      ". . . . ."
      ". . . . ."
      ". . box . ."
      ". . . . ."
      ". . reset-btn . .";
    margin: 0px;
    height: 390px;
    width: 700px;
    background: white;
    border-radius: 10px 10px 0px 0px;
    border: solid 2px lightgrey;
  }

  .playground-settings-section {
    display: flex;
    justify-content: center;
  }

  .playground-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    border: solid 2px lightgrey;
    border-top: none;
    border-bottom: none;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #ffffff;
  }

  .box {
    grid-area: box;
    height: 50px;
    width: 250px;
    background: lightgrey;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    align-self: center;
  }

  .reset-btn {
    color: #4A4A4A;
    padding: 8px 24px;
    border-radius: 50px;
    opacity: 0.4;
    transition: opacity 0.3s ease;
    grid-area: reset-btn;
    align-self: center;
    justify-self: center;
    text-decoration: none;
    background: white;
  }

  .reset-btn:hover {
    opacity: .6;
    cursor: pointer;
  }

  .code-output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 2px lightgrey;
    min-height: 61px;
    border-radius: 0px 0px 10px 10px;
    align-items: center;
    font-family: "Source Code Pro", monospace;
    font-weight: 400;
    background: white;
    height: 95px;
  }

  .copy-btn {
    border-radius: 30px;
    background: #ffffff;
    color: dimgrey;
    border: solid 2px lightgrey;
    height: 30px;
    width: 70px;
    outline: none;
    transition: all .5s;
    font-size: 18px;
    margin-bottom: 2px;
    position: relative;
    display: inline-block;
  }

  .copy-btn:hover {
    background: lightgrey;
  }

  .copy-btn.success {
    background: #c6dab7;
    border: solid 2px #c6dab7;
  }

  .tooltip-text {
    visibility: hidden;
    font-family: "Manrope", sans-serif;
    position: absolute;
    font-size: 14px;
    left: 125%;
    color: #4a4a4a;
    opacity: 0;
    transition: opacity .2s;
  }

   .tooltip-text.success {
    visibility: visible;
    opacity: 0.8;
  }











